html{
  position:absolute ;
  background-image: url(imgs/back-to-the-future-background.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center ;
  min-height:100vh;
 margin: 0;
}

body{
  /* display:flex; */
  /* flex-direction: column; */
  margin: 0 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header p {
  text-align: left;
  font-size:small;
  margin-top:50px ;
}

h1{
  color: gold;
  text-align:left;
  margin-top:20px;
  letter-spacing:2px;
  font-size: 6rem;
}

.tagline{
  text-align:left;
  font-size:0.8rem;
  line-height:1.4;
}
footer{
  margin-top:650px ;
  text-align:  right;
  line-height: 1rem;
}
nav a {
  color:gold;
  font-weight:bold;
  text-decoration:none;
}
nav a:hover{
  text-decoration: underline;
}
footer small{
  font-size:0.5em;
}
footer strong{
  font-weight:bold;
}