body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    color: black;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: tomato;
    color:white;
    padding: 10px;
    
}
img {
    border-radius: 10px;
    margin-top: 10px;
}
main{
    padding:20px;
    max-width:700px;
    margin:auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}
form {
    display:block;
}
fieldset {
    border: 2px solid tomato;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
    color: tomato;
}
input, select, textarea {
    margin-top:5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
input[type="submit"] input[type="reset"] {
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
input[type="submit"]:hover input[type="reset"]:hover {
    background-color: darkorange;
}
footer{
    text-align:center;
    padding: 10p;
    background-color:tomato;
    color:white;
    margin-top:20px;
    border-top:2px solid coral;
}